In [2]:
import seaborn as sns
print(sns.__version__)

0.13.2

In [5]:
import pandas as pd
df = pd.read_csv("Car_sales.csv")
print(df);

      Manufacturer              Model  Sales in thousands 4-year resale value  \
0    Acura          Integra                        16.919               16.36
1    Acura          TL                             39.384              19.875
2    Acura          CL                             14.114              18.225
3    Acura          RL                              8.588              29.725
4    Audi           A4                             20.397              22.255
..             ...                ...                 ...                 ...
152  Volvo          V40                             3.545                   .
153  Volvo          S70                            15.245                   .
154  Volvo          V70                            17.531                   .
155  Volvo          C70                             3.493                   .
156  Volvo          S80                            18.969                   .

    Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0      Passenger               21.5         1.8        140     101.2  67.3
1      Passenger               28.4         3.2        225     108.1  70.3
2      Passenger                  .         3.2        225     106.9  70.6
3      Passenger                 42         3.5        210     114.6  71.4
4      Passenger              23.99         1.8        150     102.6  68.2
..           ...                ...         ...        ...       ...   ...
152    Passenger               24.4         1.9        160     100.5  67.6
153    Passenger               27.5         2.4        168     104.9  69.3
154    Passenger               28.8         2.4        168     104.9  69.3
155    Passenger               45.5         2.3        236     104.9  71.5
156    Passenger                 36         2.9        201     109.9  72.1

    Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0    172.4       2.639          13.2              28      2-Feb-14
1    192.9       3.517          17.2              25      6-Mar-15
2      192        3.47          17.2              26      1-Apr-14
3    196.6        3.85            18              22      3-Oct-15
4      178       2.998          16.4              27     10-Aug-15
..     ...         ...           ...             ...           ...
152  176.6       3.042          15.8              25     21-Sep-15
153  185.9       3.208          17.9              25     24-Nov-14
154  186.2       3.259          17.9              25     25-Jun-15
155  185.7       3.601          18.5              23     26-Apr-15
156  189.8         3.6          21.1              24     14-Nov-15

[157 rows x 15 columns]

In [8]:
num_attributes = df.shape[1];
print("number of attributes/columns are : ", num_attributes)

number of attributes are :  157

In [9]:
num_rows =  df.shape[0]
print("Number of rows :", num_rows)

Number of rows : 157

In [11]:
print(df.info());
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales in thousands   157 non-null    float64
 3   4-year resale value  157 non-null    object
 4   Vehicle type         157 non-null    object
 5   Price in thousands   157 non-null    object
 6   Engine size          157 non-null    object
 7   Horsepower           157 non-null    object
 8   Wheelbase            157 non-null    object
 9   Width                157 non-null    object
 10  Length               157 non-null    object
 11  Curb weight          157 non-null    object
 12  Fuel capacity        157 non-null    object
 13  Fuel efficiency      157 non-null    object
 14  Latest Launch        157 non-null    object
dtypes: float64(1), object(14)
memory usage: 18.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales in thousands   157 non-null    float64
 3   4-year resale value  157 non-null    object
 4   Vehicle type         157 non-null    object
 5   Price in thousands   157 non-null    object
 6   Engine size          157 non-null    object
 7   Horsepower           157 non-null    object
 8   Wheelbase            157 non-null    object
 9   Width                157 non-null    object
 10  Length               157 non-null    object
 11  Curb weight          157 non-null    object
 12  Fuel capacity        157 non-null    object
 13  Fuel efficiency      157 non-null    object
 14  Latest Launch        157 non-null    object
dtypes: float64(1), object(14)
memory usage: 18.5+ KB

In [13]:
import pandas as pd
df = pd.read_csv("Car_sales.csv")
num_rows, num_columns = df.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 157
Number of columns: 15

In [14]:
df_cleaned = df.drop_duplicates();
print("Number of Columns before removing duplicates : ",df.shape[0]);
print("Number of Columns after removing duplicates : ", df_cleaned.shape[0])

Number of Columns before removing duplicates :  157
Number of Columns after removing duplicates :  157

In [19]:
df_cleaned = df.drop_duplicates()
print("Number of rows before removing duplicates:", df.shape[1])
print("Number of rows after removing duplicates:",df_cleaned.shape[1])

Number of rows before removing duplicates: 15
Number of rows after removing duplicates:
 15

In [22]:
print("Summary Statistics for Numerical Variables : \n",
df.describe())

Summary Statistics for Numerical Variables :
        Sales in thousands
count          157.000000
mean            52.998076
std             68.029422
min              0.110000
25%             14.114000
50%             29.450000
75%             67.956000
max            540.561000

In [21]:
print("Number of missing values in each column:")
print(df.isnull().sum())

Number of missing values in each column:
Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     0
Engine size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64

In [26]:
print("the column with the most missing values :\n",df.isnull().sum().idxmax());

the column with the most missing values :
 Manufacturer

In [29]:
import pandas as pd
df = pd.read_csv("Car_sales.csv")

# Check missing values before imputation
print("Missing values before:\n", df.isnull().sum())

df["Sales in thousands"].fillna(df["Sales in thousands"].mean(),inplace=True)
print("Missing values after:\n", df.isnull().sum())
print(df.head())

Missing values before:
 Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     0
Engine size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64
Missing values after:
 Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     0
Engine size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64
    Manufacturer              Model  Sales in thousands 4-year resale value  \
0  Acura          Integra                        16.919               16.36
1  Acura          TL                             39.384              19.875
2  Acura          CL                             14.114              18.225
3  Acura          RL                              8.588              29.725
4  Audi           A4                             20.397              22.255

  Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0    Passenger               21.5         1.8        140     101.2  67.3
1    Passenger               28.4         3.2        225     108.1  70.3
2    Passenger                  .         3.2        225     106.9  70.6
3    Passenger                 42         3.5        210     114.6  71.4
4    Passenger              23.99         1.8        150     102.6  68.2

  Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0  172.4       2.639          13.2              28      2-Feb-14
1  192.9       3.517          17.2              25      6-Mar-15
2    192        3.47          17.2              26      1-Apr-14
3  196.6        3.85            18              22      3-Oct-15
4    178       2.998          16.4              27     10-Aug-15

In [32]:
print("\n19. Scatterplot of Price vs Sales")
sns.scatterplot(x=df["Price in thousands"], y=df["Sales in thousands"])
plt.show()

19. Scatterplot of Price vs Sales

NameError: name 'sns' is not defined