In [17]:
import pandas as pd

df = pd.read_csv('transactions.csv')
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [18]:
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [19]:
print(df.count())

TransactionID      10
TransactionDate    10
UserID              9
ProductID          10
Quantity           10
dtype: int64

In [20]:
print(pd.info())

AttributeError: module 'pandas' has no attribute 'info'

In [21]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 528.0+ bytes
None

In [24]:
print(df[col]);

NameError: name 'col' is not defined

In [23]:
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [36]:
print(df.shape[1])

5

In [35]:
print(df.index)

RangeIndex(start=0, stop=10, step=1)

In [37]:
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [50]:
df.rename(columns={"Quantity" : "Quant"}, inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [45]:

df.rename(columns={"Quantity": "Quant"}, inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [57]:
df.rename(columns = {"ProductId" : "PID", "UserID" : "UID"}, inplace = True)
print(df)

   TransactionID TransactionDate  UID  userId  Quant
0              1      2010-08-21  7.0       2      1
1              2      2011-05-26  3.0       4      1
2              3      2011-06-16  3.0       3      1
3              4      2012-08-26  1.0       2      3
4              5      2013-06-06  2.0       4      1
5              6      2013-12-23  2.0       5      6
6              7      2013-12-30  3.0       4      1
7              8      2014-04-24  NaN       2      3
8              9      2015-04-24  7.0       4      3
9             10      2016-05-08  3.0       4      4

In [58]:
df.rename(columns = {"userId" : "PID"}, inplace=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [60]:
df_sorted = df.sort_values(by=["Quant", "TransactionDate"],
ascending=[True, False])
print(df_sorted.head())

   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

In [62]:
print(df.columns.tolist())

['TransactionID', 'TransactionDate', 'UID', 'PID', 'Quant']